# Archivos y carpetas generadas por Android Studio
.idea/
.gradle/
local.properties
*.iml

# Carpetas de compilación
/build/
*/build/

# Archivos generados
captures/
.externalNativeBuild/

# Archivos de logs o temporales
*.log
*.tmp
*.swp

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de firma o secretos (si los tienes)
*.jks
*.keystore
key.properties
*.pem

# NPM o node_modules si usas scripts JS
node_modules/

# Otros
.env

